<div class="ram">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ employee?.['EmployeeName'] }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="details-row">
                  <div class="label">Dedalus ID</div>
                  <div class="value">{{ employee?.DedalusId }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Employee ID</div>
                  <div class="value">{{ employee?.['EmployeeCode'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Gender</div>
                  <div class="value">{{ employee?.Gender }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Employee Mail ID</div>
                  <div class="value">{{ employee?.['Employee_MailId'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Location</div>
                  <div class="value">{{ employee?.Location }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Reporting Manager</div>
                  <div class="value">{{ employee?.['ManagerName'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Product</div>
                  <div class="value">{{ employee?.Product }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Manager Code</div>
                  <div class="value">{{ employee?.ManagerCode }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Manager Mail ID</div>
                  <div class="value">{{ employee?.['ManagerMailId'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Date Of Joining</div>
                  <div class="value">{{ employee?.['DateofJoin'] | date:'dd-MMM-yyyy' }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="details-row">
                  <div class="label">HL Designation</div>
                  <div class="value">{{ employee?.['HLDesignation'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">HL Role</div>
                  <div class="value">{{ employee?.['HLRole'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">HL Title</div>
                  <div class="value">{{ employee?.['HLTitle'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Owning</div>
                  <div class="value">{{ employee?.Owning }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Product Group</div>
                  <div class="value">{{ employee?.['ProductGroup'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Product Work Area</div>
                  <div class="value">{{ employee?.['ProductWorkArea'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Unified Roles</div>
                  <div class="value">{{ employee?.['UnifiedRoles'] }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Unit</div>
                  <div class="value">{{ employee?.Unit }}</div>
                </div>
                <div class="details-row">
                  <div class="label">Work Group</div>
                  <div class="value">{{ employee?.['WorkGroup'] }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="ram">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Employee Name: {{ employee?.['EmployeeName'] }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="D">
                <p>Dedalus ID</p>
                <p>Employee ID</p>
                <p>Gender</p>
                <p>Employee Mail ID</p>
                <p>Location</p>
                <p>Reporting Manager</p>
                <p>Product</p>
                <P>Manager Code</P>
                <p>Manager Mail ID</p>
                <p>Date Of Joining</p>
                <div class="D">
                <p>HL Designation</p>
              </div>
                <p>HL Role</p>
                <p>HL Title</p>
                <p>Owning</p>
                <p>Product Group</p>
                <p>Product Work Area</p>
                <p>Unified Roles</p>
                <p>Unit</p>
                <p>Work Group</p>
              </div>
            </div>
              <div class="col-md-6">
                <div class="C">
                <p> {{ employee?.DedalusId }}</p>
                <p> {{ employee?.['EmployeeCode'] }}</p>
                <p> {{ employee?.Gender }}</p>
                <p> {{ employee?.['Employee_MailId'] }}</p>
                <p> {{ employee?.Location }}</p>
                <p> {{ employee?.['ManagerName'] }}</p>
                <p> {{ employee?.Product }}</p>
                <p> {{ employee?.ManagerCode}}</p>
                <p> {{ employee?.['ManagerMailId'] }}</p>
                <p> {{ employee?.['DateofJoin'] | date:'dd-MMM-yyyy' }}</p>
                <p> {{ employee?.['HLDesignation'] }}</p>
                <p> {{ employee?.['HLRole'] }}</p>
                <p> {{ employee?.['HLTitle'] }}</p>
                <p> {{ employee?.Owning }}</p>
                <p> {{ employee?.['ProductGroup'] }}</p>
                <p> {{ employee?.['ProductWorkArea'] }}</p>
                <p> {{ employee?.['UnifiedRoles'] }}</p>
                <p> {{ employee?.Unit }}</p>
                <p> {{ employee?.['WorkGroup'] }}</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
  